.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;
}

.text {
  display: flex;
  justify-content: center;
}

.text p {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  padding: 0 5px;
}

.card-body {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #298e46;
  color: white;
}

@media screen and (min-width: 768px) {
  .card {
    width: 50%;
  }
  .text p {
    font-size: 20px;
  }
}
