.dropdown-toggle {
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.menu {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .menu {
    margin-right: 0px;
  }
}
